<div class="account-menu mb-60">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-6 pl-0 pr-md-10">
            <a href="account-my-cards.html" class="account-menu__item">
                <div class="account-menu__title">
                    Мои Карты
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12.5508 21.6004L10.629 19.5814L16.3852 13.475H2.40039V10.5258H16.3852L10.629 4.42926L12.5508 2.40039L21.6004 12.0004L12.5508 21.6004Z" fill="#151515"/>
                    </svg>
                </div>
                <div class="account-menu__pic">
                    <img src="images/icons/account-menu_card.png" width="100%" alt="изображение пункта меню">
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-6 pl-0 pr-md-10 pr-sm-0 pl-sm-10">
            <a href="account-history.html" class="account-menu__item">
                <div class="account-menu__title">
                    История займов
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12.5508 21.6004L10.629 19.5814L16.3852 13.475H2.40039V10.5258H16.3852L10.629 4.42926L12.5508 2.40039L21.6004 12.0004L12.5508 21.6004Z" fill="#151515"/>
                    </svg>
                </div>
                <div class="account-menu__pic">
                    <img src="images/icons/account-menu_history.png" width="100%" alt="изображение пункта меню">
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-6 pr-md-0 pl-md-10 pl-sm-0 pr-sm-10">
            <a href="account-docs.html" class="account-menu__item">
                <div class="account-menu__title">
                    Документы
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12.5508 21.6004L10.629 19.5814L16.3852 13.475H2.40039V10.5258H16.3852L10.629 4.42926L12.5508 2.40039L21.6004 12.0004L12.5508 21.6004Z" fill="#151515"/>
                    </svg>
                </div>
                <div class="account-menu__pic">
                    <img src="images/icons/account-menu_docs.png" width="100%" alt="изображение пункта меню">
                </div>
            </a>
        </div>
       <div class="col-lg-3 col-md-6 col-6 pl-md-0 pr-md-10 pr-sm-0 pl-sm-10">
            <a href="account-files.html" class="account-menu__item">
                <div class="account-menu__title">
                    Мои файлы
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12.5508 21.6004L10.629 19.5814L16.3852 13.475H2.40039V10.5258H16.3852L10.629 4.42926L12.5508 2.40039L21.6004 12.0004L12.5508 21.6004Z" fill="#151515"/>
                    </svg>
                </div>
                <div class="account-menu__pic">
                    <img src="images/icons/account-menu_files.png" width="100%" alt="изображение пункта меню">
                </div>
            </a>
        </div>
    </div>
</div>